.contain
{
    position: relative;
}
.main
{
    width: 48%;
    padding: 40px;
    display: inline-block;
    font-family: sans-serif;
    font-weight: 100;
    margin-left: 200px;
}
.example
{
    background-color: #f2f2f2;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: inline-block;
    width: 36.6%;
    padding: 40px;
}
.content
{
    padding: 5px;
    margin-bottom: 20px;
}
h3
{
    font-weight: 300;
    color: rgba(48, 48, 48, 0.69);
    font-size: 35px;
    font-family: serif;
}
p
{
    color: rgba(105, 101, 100, 0.76);
    padding: 10px 0 10px 0;
    font-size: 13px;
}
a
{
    color: #03A9F4;
}
.note
{
    background-color: rgba(139, 206, 244, 0.2);
    border: 1px solid #03A9F4;
    color: rgb(97,108,115);
    font-family: serif;
    font-size: 14px;
    font-weight: 500;
    padding: 20px;
    margin: 10px 0 10px 0;
}
.heading
{
    color: #03A9F4;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}
table
{
    border: 1px solid #f1f1f1;
    border-collapse: collapse;
    font-size: 13px;
    margin: 5px 0 5px 0;
}
th
{
    border: 1px solid #f1f1f1;
    color: white;
    background-color: #333333;
    padding: 10px;
}
td
{
    padding: 10px;
    border: 1px solid #ffffff;
    color: rgb(97,108,115);
}
tr:nth-child(even)
{background-color: #ffffff}
tr:nth-child(odd)
{
    background-color: #f2f2f2;
}


